Adafruit-Blinka
adafruit-circuitpython-bno055
adafruit-circuitpython-busdevice
adafruit-circuitpython-register
Adafruit-GPIO
Adafruit-PlatformDetect
Adafruit-PureIO
bme680
pyusb
PyYAML
regex
rpi-ws281x
RPi.GPIO
shellingham
SI1145
smbus==1.1.post2
smbus2
typing-extensions
Werkzeug
zipp
pydantic
libscrc